version: '3.8'
services:
  mongo:
    image: mongo:6.0
    container_name: eventup-mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: user
      MONGO_INITDB_ROOT_PASSWORD: password
      MONGO_INITDB_DATABASE: eventup
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    volumes:
      - ./backend:/app
      - /app/node_modules
    container_name: eventup-backend
    restart: always
    env_file:
      - ./backend/.env
    ports:
      - "3001:3001"
    depends_on:
      - mongo
    environment:
      MONGO_URI: mongodb://user:password@mongo:27017/eventup?authSource=admin

  frontend:
    build: ./frontend
    container_name: eventup-frontend
    restart: always
    env_file:
      - ./frontend/.env
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  mongo_data:
